body {
  font-family: "Raleway", sans-serif;
}

.container-wrapper {

}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    color: #4e1105;
    background-color: #f5d266;
    border-color: #f5d266;
}

.callout-container {
  /*this is an experimental or modern way of creating height - it means your container will be 100% the height of the viewport*/
  height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2014/04/05/11/20/whiskey-315178__340.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  /*This makes sure the opaque-overlay stretches to the bottom of the container. Google relative parents with absolute children to find out why*/
  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.quotes-container {
}

.features-container {
}

/* Page headers*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/*Block dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: grey;
 }

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: whitesmoke;
}

.block-divider--short {
    width: 35px;
}

/*Content containers*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*Navbar*/

.navalert-container{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: 700;
}

.navbar .navbar-nav a{
    font-weight: 700;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 150px;
}

.jumbotron small {
    font-size:60%;
    font-style: italic;
    color: #d0d0d0;
}

.jumbotron .lead {
    color: #fffef2;
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #892712;
    border-color: #892712;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    margin-top: 20px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

.feature .btn:hover {
    background-color: #f7d1b0;
    border-color: #f7d1b0;
}